[run]
omit = 
    galana/__main__.py
    galana/xamin/get_all.py
    galana/xamin/get_all_names.py
    galana/xamin/get.py
    galana/models/construct.py
    galana/models/evaluate.py
    galana/preprocessing/data_augmentation.py

